html {
    height: 100%;
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    min-height: 100vh;
    box-sizing: inherit;
}

.title {
    color: white;
    font-size: 70px;
    background-color: rgb(137, 202, 240);
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.image {
    text-align: center;
}

#asado-button, #milanesas-button, #empanadas-button {
    background-color: yellow;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.list {
    list-style: none;
    text-align: center;
}

footer {
    background: black;
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}

#asado, #milanesas, #empanadas {
    background-color: rgb(143, 75, 207);
    color: white;
    font-size: 18px;
    display: grid;
    place-items: center;
    margin: auto;
}

h4 {
    color: rgb(0, 0, 0);
}

.main-page {
    background-color: aqua;
    align-items: center;
    font-size: 30px;
}

